@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans-jp);
  --font-serif: var(--font-shippori-mincho);
}

:root {
  --background: #fafaf9;
  /* stone-50 */
  --foreground: #292524;
  /* stone-800 */
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-800;
  }
}